:root{
    --cor-fundo: #008B8B ;
    --cor-principal: #2F4F4F ;
    --cor-secundaria: #FF0000; 
    --cor-destaque: #FFD700;
    --cor-texto: #D7F9FF;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 700px;
    text-align: center;
    padding: 60px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 20px;
    padding: 20px;
    transition: background-color 1s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}